@charset "UTF-8";

/* 
                melhorias para os proximos projetos:
                melhorar usando box-sizin: border-box. (config geral)
                caso queira mudar a posição do bloco usar (FLOAT)
                usar transintion

*/

/* config geral  */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* config body,html */

html, body {
    position: relative;
    background-image: linear-gradient(to bottom, #5F2C82, #4B979B);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}


/* config main */

main {
    width: 100vw;
    height: 100vh;
}
/* configs sections */

section {
    border-radius: 15px;
    margin: auto;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    
} 

/* imagem */

section#imagem {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -80%);
    height: 350px;
    background: black url(..//imagens/imagem.jpg);
    background-size: cover;

    
}

/* form conteudo */

section#form {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -15%);
    
    height: 320px;
    background-color: rgb(248, 247, 247);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px ;

    
}

form h2 {
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
}

form p {
    padding: 6px;
    font-size: 12px;
}

/* label , span e input */

form label {
    background-color: #5F2C82;
    width: 222px;
    height: 40px;
    display: block;
    margin: auto;
    border-radius: 7px;
    padding: 2px;
    margin-bottom: 5px;
}

#user, #key  {
    color: white;
    
}

/* senha aproximar mais */

form label.senha {
    margin-top: -10px;
}

/* config inputs */

/* email e senha */

form input {
    display: inline;
    background-color: #94CFCD;
    border: none;
    border-radius: 5px;

    width: 182px;
    height: 30px;
    padding: 5px;
    margin-bottom:5px;
    margin-top: 0px;
}


/* submit */

p#submit {
    text-align: center;
    margin-top: -20px;
}

#submit input {
    width: 228px;
    height: 40px;
    color: white;
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.233);
    font-size: 16px;
}

#submit input {
    cursor: pointer;
}

/* link */

p#link {
    margin: auto;
    text-align: center;
    background-color: white;
    border: 2px solid #4B979B;
    border-radius: 7px;
    
    width: 225px;
    height: 36px;
    padding-bottom: 6px;
}

p#link:hover {
    background-color: #6CD3CF;
}

p a {
    text-decoration: none;
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.233);
    color: #336769;
}

